@page
@model webapphotel.Pages.StaffList.DeleteModel
<form method="post">
    <input hidden asp-for="Staff.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete Staff</h2>
            <hr />
        </div>



        <div class="mb-3">
            <label asp-for="Staff.Name"></label>
            <input asp-for="Staff.Name" type="text" disabled class="form-control" />

        </div>
        <div class="mb-3">
            <label asp-for="Staff.PhoneNumber"></label>
            <input asp-for="Staff.PhoneNumber" type="text" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Staff.Address"></label>
            <input asp-for="Staff.Address" type="text" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Staff.Email"></label>
            <input asp-for="Staff.Email" type="email" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Staff.JobTitle"></label>
            <input asp-for="Staff.JobTitle" type="text" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Staff.MonthlySalary"></label>
            <input asp-for="Staff.MonthlySalary" type="text" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Staff.DateOfHirement"></label>
            <input asp-for="Staff.DateOfHirement" type="date" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px;">Delete</button>
        <a asp-page="Index" class="btn btn-primary" style="width:150px;">Back to List</a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
