@page 
@model webapphotel.Pages.FileShare.UploadModel
@{
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="UploadedFile" />

        <button type="submit">Upload</button>


    </form>
}
